alias src="source $HOME/.zshrc"
alias glg="git log --color --graph --date=format:'%Y-%m-%d %H:%M:%S' --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset'"
alias pa='php artisan'
alias pat='php artisan tinker'
alias xcp="xclip -selection clipboard"
alias gsf="git submodule foreach"
alias gsc="gsf 'composer install || true'"
alias gsua="gsf 'git checkout master && git pull'"
alias myeca="cd $HOME/git/ECA-repo/MyECA && pnpm run dev"
alias parol="php artisan route:list"
alias vim=nvim
alias lsi='ls | xargs -I {} sh -c "stat {}; echo ----------------------------------"'
